body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top right, #7866b9, #82c4e6);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  width: 80%; 
}

h1 {
  color: white;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
  background-color: inherit;
  border: 1px solid #ccc; 
}

.button-container {
  padding: 8px 16px;
  font-size: 16px;
  background-color: inherit;
  /* color: white; */
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.countdown-container {
  display: flex;
  justify-content: center;
}

.countdown-box {
  margin: 0 10px;
  height: 50px; 
  width: 150px; 
  border: 1px solid #ccc; 
  padding:5px;
}

.countdown-value {
  font-size: 24px;
  font-weight: bold;
}

.countdown-label {
  font-size: 14px;
  color: #666;
}
